<main id="supporters">
    <p id="header">make teleportation happen <span>supporters</span></p>
<div>
{{#signers}}
{{#unless @last}}
    <div><span>{{incremented @index}}</span>&emsp;{{first}} {{last}}&ensp;|&ensp;{{age}}&ensp;|&ensp;{{city}}</div>
    {{/unless}}
    {{#if @last}}
    <div><span>{{incremented @index}}</span>&emsp;<strong>{{first}} {{last}}</strong>&ensp;|&ensp;{{age}}&ensp;|&ensp;{{city}}</div>

    {{/if}}
{{/signers}}
</div>
</main>
