<title>Make Teleportation Happen – Supporters</title>

<h1>This petition is supported {{#if city}}in {{city}}{{/if}} by</h1>
{{#signers}}
{{#if url}}
    <div><span class="monospace">{{incremented @index}}</span>&emsp;<a href={{url}} target="_blank">{{first}} {{last}}</a>{{#if age}}&ensp;|&ensp;{{age}}{{/if}}{{#if ../showcity}}{{#if city}}&ensp;|&ensp;<a href="/supporters/{{city}}">{{city}}</a>{{/if}}{{/if}}</div>
{{else}}
    <div><span class="monospace">{{incremented @index}}</span>&emsp;{{first}} {{last}}{{#if age}}&ensp;|&ensp;{{age}}{{/if}}{{#if ../showcity}}&ensp;|&ensp;<a href="/supporters/{{city}}">{{city}}</a>{{/if}}</div>
{{/if}}
{{/signers}}
